:root {
  --background:   #0b1220;
  --on-background:#ffffff;

  --surface:      #0f172a;
  --on-surface:   #e0e0e0;  
  
  --primary:      #f0bb0c;
  --on-primary:   #000000;

  --success: #4caf50;
  --on-success: #000;             

  --warning:    #ffc107;
  --on-warning: #000;

  --danger:    #dc3545;
  --on-danger: #000;    

  --info:    #0dcaf0;
  --on-info: #000;    

  /* ---------- Neutral / Gray ---------- */
  --dark: #3a3a3a;
  --on-dark: #ffffff;
  --mid: #666666;
  --on-mid:   #fafafa;
  --light: #f5f5f5;
  --on-light: #111111;
}

html[data-theme="dark"] {
  --background:   #0b1220;
  --on-background:#ffffff;

  --surface:      #0f172a;
  --on-surface:   #e0e0e0;  
  
  --primary:      #f0bb0c;
  --on-primary:   #000000;

  --success: #4caf50;
  --on-success: #000;             

  --warning:    #ffc107;
  --on-warning: #000;

  --danger:    #dc3545;
  --on-danger: #000;    

  --info:    #0dcaf0;
  --on-info: #000;    

  /* ---------- Neutral / Gray ---------- */
  --dark: #3a3a3a;
  --on-dark: #ffffff;
  --mid: #666666;
  --on-mid:   #fafafa;
  --light: #f5f5f5;
  --on-light: #111111;
}

html[data-theme="light"] {
  /* ---------- Surfaces / Backgrounds ---------- */
  --background: #ffffff;
  --on-background: #141414;

  --surface:   #f1f2f3;   
  --on-surface:    #1f2937; 
  
  --primary:   #F0B90B; 
  --on-primary:    #000000;

  --success: #D0E6DC;      
  --on-success: #0A3622;  

  --warning:       #FFF3CD;
  --on-warning: #664D03;

  --danger:       #F8D7DA;
  --on-danger: #58151C;

  --info:         #CFF4FC;
  --on-info: #054A58;

  /* ---------- Neutral / Gray ---------- */
  --dark:  #1f2937;
  --on-dark: #fff;
  --mid:   #6b7280;
  --on-mid: #f9fafb;
  --light: #e5e7eb;
  --on-light: #1f2937;
}

/* Background colors */
.bg-background{ background-color: var(--background);}
.bg-surface{ background-color: var(--surface);}
.bg-primary{background-color: var(--primary);}
.bg-success{background-color: var(--success);}
.bg-warning{background-color: var(--warning);}
.bg-danger{background-color: var(--danger);}
.bg-info{background-color: var(--info);}
.bg-dark{background-color: var(--dark);}
.bg-mid{background-color: var(--mid);}
.bg-light{background-color: var(--light);}

/* Text Colors */
.text-background { color: var(--background); }
.text-surface    { color: var(--surface); }
.text-primary    { color: var(--primary); }
.text-success       { color: var(--success); }
.text-warning       { color: var(--warning); }
.text-danger       { color: var(--danger); }
.text-info       { color: var(--info); }
.text-dark  { color: var(--dark); }
.text-mid   { color: var(--mid); }
.text-light { color: var(--light); }

/* On-colors */
.text-on-background { color: var(--on-background); }
.text-on-surface  { color: var(--on-surface); }
.text-on-primary  { color: var(--on-primary); }
.text-on-success  { color: var(--on-success); }
.text-on-warning  { color: var(--on-warning); }
.text-on-danger  { color: var(--on-danger); }
.text-on-info  { color: var(--on-info); }
.text-on-dark  { color: var(--on-dark); }
.text-on-mid  { color: var(--on-mid); }
.text-on-light  { color: var(--on-light); }

/* Borders */
.border-primary { border-color: var(--primary); }
.border-success { border-color: var(--success); }
.border-warning { border-color: var(--warning); }
.border-danger  { border-color: var(--danger); }
.border-info    { border-color: var(--info); }
.border-dark    { border-color: var(--dark); }
.border-mid     { border-color: var(--mid); }
.border-light   { border-color: var(--light); }

/* Accent Colors */
.accent-primary { accent-color: var(--primary); }
.accent-success { accent-color: var(--success); }
.accent-warning { accent-color: var(--warning); }
.accent-danger  { accent-color: var(--danger); }
.accent-info    { accent-color: var(--info); }
.accent-dark    { accent-color: var(--dark); }
.accent-mid     { accent-color: var(--mid); }
.accent-light   { accent-color: var(--light); }

/*inherit text*/
.text-inherit{color: inherit;}
