/* General Reset and styles */
* {box-sizing: border-box;}
body{ margin: 0; padding: 0;}
a {text-decoration: none; color: inherit;}
img, picture, video, canvas, svg { display: block; max-width: 100%; height: auto; }
input, button, textarea, select { font: inherit; border: none; background: none; outline: none;}
button { cursor: pointer; }
