:root {
  /* ---------- Surfaces / Backgrounds ---------- */
  --background: #0b1220;
  --surface:     #0f172a;  
  --primary:     #f0bb0c;

  /* ---------- On Colors (Text/Icons on surfaces) ---------- */
  --on-background: #ffffff;
  --on-surface: #e0e0e0;
  --on-primary: #000000;

   /* ---------- Optional Feedback ---------- */
  /* SUCCESS */
  --success: #4caf50;              

  /* WARNING */
  --warning:       #ffc107;

  /* DANGER */
  --danger:       #dc3545;

  /* INFO */
  --info:         #0dcaf0;

  /* ---------- Neutral / Gray ---------- */
  --dark: #3a3a3a;
  --mid: #666666;
  --light: #f5f5f5;
}

html[data-theme="dark"] {
  /* ---------- Surfaces / Backgrounds ---------- */
  --background: #0b1220;
  --surface:     #0f172a;  
  --primary:     #f0bb0c;

  /* ---------- On Colors (Text/Icons on surfaces) ---------- */
  --on-background: #ffffff;
  --on-surface: #e0e0e0;
  --on-primary: #000000;

   /* ---------- Optional Feedback ---------- */
  /* SUCCESS */
  --success: #1b5e20;             
  --success-dark: #1b5e20;      
  --success-light: #f1faf1;      

  /* WARNING */
  --warning:       #ffc107;
  --warning-light: #fff3cd;
  --warning-dark:  #664d03;

  /* DANGER */
  --danger:       #dc3545;
  --danger-light: #f8d7da;
  --danger-dark:  #842029;

  /* INFO */
  --info:         #0dcaf0;
  --info-light:   #cff4fc;
  --info-dark:    #055160;

  /* ---------- Neutral / Gray ---------- */
  --dark: #3a3a3a;
  --mid: #666666;
  --light: #f5f5f5;
}

html[data-theme="light"] {
  /* ---------- Surfaces / Backgrounds ---------- */
  --background: #ffffff;
  --surface:   #f1f2f3;   
  --primary:   #F0B90B; 

  /* ---------- On Colors (Text/Icons on surfaces) ---------- */
  --on-background: #141414;
  --on-surface:    #1f2937; 
  --on-primary:    #000000;

  /* ---------- Feedback Colors ---------- */
  /* SUCCESS */
  --success:       #22c55e; 
  --success-dark:  #15803d;
  --success-light: #dcfce7;

  /* WARNING */
  --warning:       #f59e0b;
  --warning-dark:  #b45309;
  --warning-light: #fef3c7;

  /* DANGER */
  --danger:        #ef4444;
  --danger-dark:   #b91c1c;
  --danger-light:  #fee2e2;

  /* INFO */
  --info:          #3b82f6;
  --info-dark:     #1e40af;
  --info-light:    #dbeafe;

  /* ---------- Neutral / Gray ---------- */
  --dark:  #1f2937;
  --mid:   #6b7280;
  --light: #e5e7eb;
}

/* Background colors */
.bg-background{ background-color: var(--background);}
.bg-surface{ background-color: var(--surface);}
.bg-primary{background-color: var(--primary);}

.bg-success{background-color: var(--success);}
.bg-success-dark{background-color: var(--success-dark);}
.bg-success-light{background-color: var(--success-light);}

.bg-warning{background-color: var(--warning);}
.bg-warning-dark{background-color: var(--warning-dark);} 
.bg-warning-light{background-color: var(--warning-light);} 

.bg-danger{background-color: var(--danger);}
.bg-danger-dark{background-color: var(--danger-dark);} 
.bg-danger-light{background-color: var(--danger-light);} 

.bg-info{background-color: var(--info);}
.bg-info-dark{background-color: var(--info-dark);}
.bg-info-light{background-color: var(--info-light);} 

.bg-dark{background-color: var(--dark);}
.bg-mid{background-color: var(--mid);}
.bg-light{background-color: var(--light);}

/* Text Colors */
.text-background { color: var(--background); }
.text-surface    { color: var(--surface); }
.text-primary    { color: var(--primary); }

.text-success       { color: var(--success); }
.text-success-dark  { color: var(--success-dark); }
.text-success-light { color: var(--success-light); }

.text-warning       { color: var(--warning); }
.text-warning-dark  { color: var(--warning-dark); }
.text-warning-light { color: var(--warning-light); }

.text-danger       { color: var(--danger); }
.text-danger-dark  { color: var(--danger-dark); }
.text-danger-light { color: var(--danger-light); }

.text-info       { color: var(--info); }
.text-info-dark  { color: var(--info-dark); }
.text-info-light { color: var(--info-light); }

.text-dark  { color: var(--dark); }
.text-mid   { color: var(--mid); }
.text-light { color: var(--light); }

/* On-colors */
.text-on-background { color: var(--on-background); }
.text-on-surface  { color: var(--on-surface); }
.text-on-primary  { color: var(--on-primary); }

/*inherit text*/
.text-inherit{color: inherit;}

/* Borders */
.border-primary { border-color: var(--primary); }
.border-success { border-color: var(--success); }
.border-warning { border-color: var(--warning); }
.border-danger  { border-color: var(--danger); }
.border-info    { border-color: var(--info); }
.border-dark    { border-color: var(--dark); }
.border-mid     { border-color: var(--mid); }
.border-light   { border-color: var(--light); }

/* Accent Colors */
.accent-primary { accent-color: var(--primary); }
.accent-success { accent-color: var(--success); }
.accent-warning { accent-color: var(--warning); }
.accent-danger  { accent-color: var(--danger); }
.accent-info    { accent-color: var(--info); }
.accent-dark    { accent-color: var(--dark); }
.accent-mid     { accent-color: var(--mid); }
.accent-light   { accent-color: var(--light); }
