.sidebar {
    position: sticky;
    top: 0;
}

.sidebar-toggle-btn {
  display: none;
  cursor: pointer;
}

.sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: auto;
    transition: max-height 0.3s ease;
    max-height: 100vh;
}

/* On mobile devices  */
@media (max-width: 599px) {
    .sidebar {
        position: fixed;
        top: auto;
        width: 100%;
    }

    .sidebar-toggle-btn {
        display: block;
    }

    .sidebar-menu {
        max-height: 0;
    }

    .sidebar-toggle:checked ~ .sidebar-menu {
        max-height: 500px; 
    }
}

